<form method="POST" action="{% url 'edit_customer_partial' customer.id %}" class="shadow p-4 rounded bg-light">
    {% csrf_token %}
    <div class="mb-3">
        <label for="firstname" class="form-label">Nombre:</label>
        <input type="text" name="firstname" id="firstname" value="{{ customer.firstname }}" class="form-control" placeholder="Ingresa el nombre" required>
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-label">Apellido:</label>
        <input type="text" name="lastname" id="lastname" value="{{ customer.lastname }}" class="form-control" placeholder="Ingresa el apellido" required>
    </div>
    <div class="mb-3">
        <label for="user" class="form-label">Usuario:</label>
        <input type="text" name="user" id="user" value="{{ customer.user }}" class="form-control" placeholder="Ingresa el usuario" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        <input type="password" name="password" id="password" value="{{ customer.password }}" class="form-control" placeholder="Ingresa la contraseña" required>
    </div>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-pencil-square"></i> Actualizar
        </button>
        <a href="{% url 'customers' %}" class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle"></i> Volver
        </a>
    </div>
</form>