{% extends './usuarios/base.html' %}

{% block title %} Menú {% endblock %}   

{% block content %}
    <h1 class="mb-4">Menú del Restaurante</h1>
    <div class="row" id="menuItems">
        {% for producto in productos %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
            <div class="card menu-item h-100">
                <div class="card-body p-2 text-center">
                    <i class="bi bi-box-seam menu-icon mb-2"></i>
                    <h6 class="card-title">{{ producto.name }}</h6>
                    <p class="card-text small">$ {{ producto.price }}</p>
                    <p class="text-muted small">{{ producto.description }}</p>
                    <button class="btn btn-sm btn-primary w-100" onclick="addToCart({{ producto.id_product }})">Agregar</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}


{% block scripts %}
<script >
</script>


{% endblock %}