{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html lang="es">
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    {% bootstrap_css %}
</head>
<body>
    <header id="navbar">
        {% block header %} {% endblock %}
        <nav id = "selectNavbar" class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand d-none" href="#">Home</a>
              <button class="navbar-toggler d-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'configuration_home' %}">Configuraciones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'gestionar_cupones_view' %}">Gestionar Cupones</a>
                  </li>
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/configuracion">consultar</a></li>
                      <li><a class="dropdown-item" href="#">usuarios</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link disabled d-none" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2 d-none" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-successcd-none" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>

    {% if messages %}
    <div aria-live="polite" aria-atomic="true" class="position-fixed text-align-center" style="z-index: 1055">
        {% for message in messages %}
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                <div class="toast-header">
                    <span class="me-auto">
                        {% if message.tags == 'success' %}
                            ✅ Éxito
                        {% elif message.tags == 'error' %}
                            ❌ Error
                        {% elif message.tags == 'warning' %}
                            ⚠️ Advertencia
                        {% else %}
                            ℹ️ Información
                        {% endif %}
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
                </div>
                <div class="toast-body">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <main>
      {% block first_script %} 
      {% endblock %}
      <div id = "root">
        {% block content %}
        
        {% endblock %}
      </div>
    </main>

    <footer class="footer text-center pt-3">

            {% block footer %}{% endblock %}
    </footer>

    {% block scripts %}

    {% endblock %}
    {% bootstrap_javascript %}

    <script>
      // Activa automáticamente todos los toasts al cargar la página
      document.addEventListener('DOMContentLoaded', function () {
          var toastElList = [].slice.call(document.querySelectorAll('.toast'))
          toastElList.forEach(function (toastEl) {
              var toast = new bootstrap.Toast(toastEl)
              toast.show()
          })
      });

      const config = JSON.parse(localStorage.getItem("configuration"));
      if (config) {
        const nav = document.getElementById("selectNavbar");
        nav.style.backgroundColor = config.color_pallette;
      }
      else{
        const nav = document.getElementById("selectNavbar");
        nav.classList.add("bg-dark");
      }
      console.log("esto es el config del base : ", config);
  </script>
</body>
</html>
