{% extends 'base.html' %}

{% block title %} Administración {% endblock %}

{% block header %}  {% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-5">Panel de Administración</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100 dashboard-card">
                <div class="card-body text-center">
                    <i class="bi bi-gear fs-1 mb-3"></i>
                    <h5 class="card-title">Configuraciones</h5>
                    <p class="card-text">Administra las configuraciones generales del sistema.</p>
                    <a href="{% url 'gestionar_configuraciones_view' %}" class="btn btn-primary">Ir a Configuraciones</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card dashboard-card h-100">
                <div class="card-body text-center">
                    <i class="bi bi-people fs-1 mb-3"></i>
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Gestiona la información de los clientes.</p>
                    <a href="{% url 'customers' %}" class="btn btn-primary">Ir a Clientes</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card dashboard-card h-100">
                <div class="card-body text-center">
                    <i class="bi bi-person-badge fs-1 mb-3"></i>
                    <h5 class="card-title">Empleados</h5>
                    <p class="card-text">Administra la información de los empleados.</p>
                    <a href="{% url 'employees' %}" class="btn btn-primary">Ir a Empleados</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card dashboard-card h-100">
                <div class="card-body text-center">
                    <i class="bi bi-person-check fs-1 mb-3"></i>
                    <h5 class="card-title">Roles</h5>
                    <p class="card-text">Gestiona los roles y permisos del sistema.</p>
                    <a href="roles" class="btn btn-primary">Ir a Roles</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
    <script>
      console.log("hola");
    </script>
{% endblock %}