{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Rol</title>
    {% bootstrap_css %}
</head>
<body>
    <h1>Crear Rol</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Nombre del Rol:</label>
        <input type="text" name="name" id="name" required><br>
        
        <label for="description">Descripción:</label>
        <textarea name="description" id="description" required></textarea><br>
        
        <button type="submit">Crear</button>
    </form>
    <a href="{% url 'list_roles' %}">Volver</a>
</body>
</html>
