{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Roles</title>
    {% bootstrap_css %}
</head>
<body>
    <h1>Lista de Roles</h1>
    <a href="{% url 'create_role' %}">Crear Nuevo Rol</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Rol</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td>{{ role.description }}</td>
                <td>
                    <a href="{% url 'edit_role' role.id %}">Editar</a>
                    <!-- Botón de eliminar -->
                    <form action="{% url 'delete_role' role.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este rol?')">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'roles' %}">Volver</a>
</body>
</html>
