{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Regresar</title>
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="header">
        <span>Gestion de Menus: <strong>{{ usuario.username }}</strong></span>
        <a href="{% url 'logout' %}" id="logoutBtn">Cerrar Sesión</a>
    </div>
  <div class="container">
    <h1>Productos del catálogo</h1>
    
    <table>
      <thead>
        <tr>
          <th>Id Prod</th>
          <th>Categoría</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cant/Disp</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
        </tr>
        <tr>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
        </tr>
        <tr>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
        </tr>
        <tr>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
        </tr>
      </tbody>
    </table>
    
    <h2>Agregar productos al menú</h2>
    
    <label for="ingresarID">Ingresar ID:</label>
    <input type="text" id="ingresarID" name="ingresarID">
    <button class="btn">Aceptar</button>
    
    <h2>Productos del menú</h2>
    
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Categoría</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
        </tr>
        <tr>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
        </tr>
        <tr>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
        </tr>
        <tr>
          <td>Contenido</td>
          <td>Contenido</td>
          <td>Contenido</td>
        </tr>
      </tbody>
    </table>
    
    <button class="btn">Crear Menú</button>
  </div>
</body>
</html>