{% extends '../base.html' %}

{% block title %} Configuraciones {% endblock %}

{% block header %}  {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Editar Configuración</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mt-3">Guardar</button>
        <a href="{% url 'configuration_home' %}" class="btn btn-secondary mt-3">Cancelar</a>
    </form>
</div>
{% endblock %}


{% block scripts %}
    <script>
      console.log("hola");
    </script>
{% endblock %}