{% extends 'base.html' %}

{% block title %} Página no encontrada {% endblock %}

{% block header %}  {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6 text-center">
            <h1 class="display-1">404</h1>
            <h2 class="mb-4">Página no encontrada</h2>
            <p class="mb-4">Lo sentimos, la página que estás buscando no existe.</p>
            <a href="{% url 'GeneralView' %}" class="btn btn-primary">
                <i class="bi bi-house-door me-2"></i>Volver al inicio
            </a>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
    <script>
      console.log("hola");
    </script>
{% endblock %}