{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empleado</title>
    {% bootstrap_css %}
</head>
<body>
    <h1>Editar Empleado</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="firstname">Nombre:</label>
        <input type="text" name="firstname" id="firstname" value="{{ employee.firstname }}" required><br>
        
        <label for="lastname">Apellido:</label>
        <input type="text" name="lastname" id="lastname" value="{{ employee.lastname }}" required><br>
        
        <label for="position">Cargo:</label>
        <input type="text" name="position" id="position" value="{{ employee.position }}" required><br>
        
        <button type="submit">Actualizar</button>
    </form>
    <a href="{% url 'list_employees' %}">Volver</a>
</body>
</html>
