<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empleados</title>
</head>
<body>
    <h1>Lista de Empleados</h1>
    <a href="{% url 'create_employee' %}">Crear Nuevo Empleado</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.firstname }} {{ employee.lastname }}</td>
                <td>{{ employee.position }}</td>
                <td>
                    <a href="{% url 'edit_employee' employee.id %}">Editar</a>
                    <!-- Botón de eliminar con un formulario -->
                    <form action="{% url 'delete_employee' employee.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar a este empleado?')">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'employees' %}">Volver</a>
</body>
</html>
